{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- HEADER & AVATAR-->
	<div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<p class="text-white" style="font-size: 50px;"><strong>Experiences</strong></p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="text-center img-overlay">
					<img class="avatar"src="{% static 'img/ava.jpg' %}" class="img-fluid" alt="myFace">
					<p style="margin-top: 10px; margin-bottom: 0px; font-size: 22px"><strong>Roshani Ayu Pranasti</strong></p>
                    <p style="margin-bottom: 22px;font-size: 14px">
                        Computer Science Student at<br>
                        Universitas Indonesia
                    </p>
					<hr>
					<div>
						<a href="https://www.instagram.com/astiroshani/"> <img src="{% static 'img/instagram.png' %}" alt="Instagram"> </a>
						<a href="https://twitter.com/astiroshani"> <img src="{% static 'img/twitter.png' %}" alt="Twitter"> </a>
						<a href="https://www.facebook.com/astiroshani" > <img src="{% static 'img/facebook.png' %}" alt="Facebook"> </a>
						<a href="https://www.linkedin.com/in/roshani-ayu-pranasti/" > <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn"> </a>
					</div>
					<hr>
					<a href="{% url 'agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Agenda</a>
					<a href="{% url 'create_agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Create Agenda</a>
					<br><br><br><br>
				</div>
				<footer class="footer">
					<div class="container">
						<p>Roshani Ayu Pranasti © 2018</p>
					</div>
				</footer>
			</div>
	
	<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
							<div class="col-sm-10">
								<p class="w3-left-align isi">
									Staff of <font color="#FA1466">BEM Media Fasilkom UI</font>
								</p>
								<p class="calloc">
								<img src="{% static 'img/loc.png' %}">
									Depok, Jawa Barat, Indonesia
								</p>
								<p class="calloc">
								<img src="{% static 'img/cal.png' %}">
									April 2018 - Present (6 months)
								</p>
							</div>
							<div class="col-sm-2" style="padding: 15px; padding-left: 25px;">
								<img class="img-fluid" src="{% static 'img/bem.png' %}">
                            </div>
                            <hr style="width: 100%">
                            <div class="col-sm-10">
								<p class="w3-left-align isi">
									UI & UX at <font color="#FA1466">Mahasewa Indonesia</font>
								</p>
								<p class="calloc">
								<img src="{% static 'img/loc.png' %}">
									Depok, Jawa Barat, Indonesia
								</p>
								<p class="calloc">
								<img src="{% static 'img/cal.png' %}">
									April 2018 - July 2018 (4 months)
								</p>
							</div>
							<div class="col-sm-2">
								<img class="img-fluid" src="{% static 'img/mahasewa.png' %}">
                            </div>
						</div> 
					</div>
                </div>
                <div class="roundedrec">
                    <div class="insiderec">
						<p class="judul">Accomplishments</p>
                        <div class="row">
                            <div class="col-sm-1">
								<img class="img-fluid" src="{% static 'img/lang.png' %}">
                            </div>
							<div class="col-sm-11 w3-left-align">
                                <p class="isi">Language</p>
                                <p class="calloc" style="color: #666666"><strong>Bahasa Indonesia</strong></p>
                                <p class="calloc">Native or billingual profiency</p>
                                <p class="calloc" style="color: #666666"><strong>English</strong></p>
                                <p class="calloc">Full professional proficiency</p>
                                <p class="calloc" style="color: #666666"><strong>Japanese</strong></p>
                                <p class="calloc">Elementary proficiency</p>
                            </div>
                            <div class="col-sm-1">
								<img class="img-fluid" src="{% static 'img/vol.png' %}">
                            </div>
                            <div class="col-sm-11 w3-left-align">
                                <p class="isi">Volunteering Experiences</p>
                                <p class="calloc">PIC Creative OH Fasilkom 2018</p>
                                <p class="calloc">Staff of Visual Design Compfest X</p>
                                <p class="calloc">Staff of Fundraising the 25th Computers Get Together</p>
                            </div>
                            <div class="col-sm-1">
								<img class="img-fluid" src="{% static 'img/cour.png' %}">
                            </div>
                            <div class="col-sm-11 w3-left-align">
								<p class="isi">Courses</p>
								<div class="row">
									<div class="col-sm-10">
                                    	<p class="calloc">Wall Street English</p>
                                	</div>
                                 	<div class="col-sm-2 w3-right-align">
								    	<p class="calloc">2014 – 2016</p>
                                	</div>
								</div>
								<div class="row">
									<div class="col-sm-10">
                                    	<p class="calloc">English First</p>
                                	</div>
                                 	<div class="col-sm-2 w3-right-align">
								    	<p class="calloc">2006 - 2011</p>
                                	</div>
								</div>
								<div class="row">
									<div class="col-sm-10">
                                    	<p class="calloc">Farabi Music Education School</p>
                                	</div>
                                 	<div class="col-sm-2 w3-right-align">
								    	<p class="calloc">2006 - 2008</p>
                                	</div>
								</div>
								<div class="row">
									<div class="col-sm-10">
                                    	<p class="calloc">Yamaha Music School Sincere Music</p>
                                	</div>
                                 	<div class="col-sm-2 w3-right-align">
								    	<p class="calloc">2004 - 2006</p>
                                	</div>
								</div>
                            </div>
						</div> 
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}