{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- CONTENT -->
	<div id="home">
		<div class="container-fluid" style="height:100%">
			<div class="row" style="height:100%">
				<div class="col-sm-6">
					<img class="buletkiri img-fluid" src="{% static 'img/home1.png' %}">
				</div>
				<div class="col-sm-6 name">
					<p class="text-white text-center" style="font-size: 40px; line-height: 50px;"><strong>Roshani Ayu Pranasti</strong></p>
					<p class="text-white text-center" style="font-size: 16px; margin-top: -10px">
					Strong arts and design professional with a<br> 
					bachelor's degree focused in Computer Science.</p>
				</div>
				<img class="buletkanan" src="{% static 'img/home2.png' %}">
			</div>
		</div>
			
		<footer class="footer">
			<div class="container">
				<p style="color: #ffffff">Roshani Ayu Pranasti © 2018</p>
			</div>
		</footer>
	</div>
{% endblock %}