{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- HEADER & AVATAR-->
	<div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<p class="text-white" style="font-size: 50px;"><strong>Message Me</strong></p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="text-center img-overlay">
					<img class="avatar"src="{% static 'img/ava.jpg' %}" class="img-fluid" alt="myFace">
					<p style="margin-top: 10px; margin-bottom: 0px; font-size: 22px"><strong>Roshani Ayu Pranasti</strong></p>
                    <p style="margin-bottom: 22px;font-size: 14px">
                        Computer Science Student at<br>
                        Universitas Indonesia
                    </p>
					<hr>
					<div>
						<a href="https://www.instagram.com/astiroshani/"> <img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
						<a href="https://twitter.com/astiroshani"> <img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
						<a href="https://www.facebook.com/astiroshani" > <img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
						<a href="https://www.linkedin.com/in/roshani-ayu-pranasti/" > <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn"></a>
					</div>
					<hr>
					<a href="{% url 'agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Agenda</a>
					<a href="{% url 'create_agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Create Agenda</a>
					<br><br><br><br>
				</div>
				<footer class="footer">
					<div class="container">
						<p>Roshani Ayu Pranasti © 2018</p>
					</div>
				</footer>
			</div>
	
	<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="roundedrec">
                    <div class="insiderec">
                        <form action="#" class="w3-left-align isi">
                            <font style="color: #161670">Name:</font><br>
                            <input type="text" name="Name"><br>
                            <font style="color: #161670">Date:</font><br>
                            <input type="date" name="Date"><br>
                            <font style="color: #161670">Email:</font><br>
                            <input type="email" name="Email"><br>
                            <font style="color: #161670">Subject:</font><br>
                            <input type="text" name="Subject"><br>
                            <font style="color: #161670">Message:</font><br>
                            <textarea id="message" name="message" placeholder="Write something nice :)" style="height:200px; margin-top: 7px;"></textarea>
							<input type="submit" value="Submit">
							<a href="#" style="padding-left:15px">See Messages</a>
                        </form>
					</div>
                </div>
			</div>
		</div>
    </div>
{% endblock %}