body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, #26E5B9, #8530D7);
}

#home {
    height: 100%;
    max-height: calc(100vh - 55px);
    overflow: hidden;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.buletkiri {
    position: absolute;
    left: 0;
}

.buletkanan {
    width: 350px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0;
}

@media(max-width:700px){
    .name {
        vertical-align: middle;
        margin: auto 0;
        height: 100%;
    }

    .buletkiri {
        display: none;
    }

    .buletkanan {
        width: 250px;
    }
}

.navbar {
    background-color: #161670 !important;
}

.navbar .navbar-nav li a {
    color: #ffffff !important;
}

.navbar .navbar-nav li a:hover {
    color: #FA1466 !important;
}

.navbar-toggler {
    background-color: #ffffff !important;
}

.header {
    background: linear-gradient(to right, #26E5B9, #8530D7);
    min-height: 40%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.avatar{
    border-radius: 50%;
    width: 230px;
}

.row.content {
    height: auto;
    background: #f9f9f9;
}
    
.sidenav {
    background-color: #ffffff;
    height: auto;
}

.sidenav p {
    color: #666666;
}

.img-overlay {
    margin-top:-37%;
}

footer {
    position: absolute;
    bottom: 0px;
    color: #666666;
    padding-left: 10px;
    padding-bottom: 10px;
}

.roundedrec {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;
    
}

.insiderec {
    padding: 30px;
}

.judul {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

.isi {
    color: #666666;
    font-size: 16px;
}

.calloc {
    font-size: 13px;
    color: #999999;
    text-align: left;
}
  
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
  
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:149px;
    font-size:12px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
  
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
  
.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
  
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=date], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #FA1466;
    color: white;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #161670;
}