{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-sm-12">
        <div class="roundedrec">
            <div class="insiderec">
                <p class="judul">Create Agenda</p>
                <form action="#" method="POST" class="w3-left-align isi">
                    {% csrf_token %}
                    {% for field in form %}
                        <p style="color: #161670;">{{ field.label_tag }} {{ field }}</p>
                    {% endfor %}
                    <input type="submit" value="Submit">
                    <a href="{% url 'agenda' %}" style="padding-left:15px">See Agenda</a>
                </form>
            </div>
        </div>
    </div>

    <style type="text/css">
        label {
            margin-right: 0.7em; /* or larger if you need */
            margin-bottom: -1em;
        }
    </style>
{% endblock %}