{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>hello!</title>
    <link rel="icon" href="{% static 'img/smiley.png' %}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab8-light.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p id="id_title" class="text-center text" style="font-size: 50px;"><strong>List of Stories</strong></p>
                        <p class="text-center text" style="margin-top: -20px;">The owner of this website is just your friendly computer science student. She said Hi!</p>
                        <div>
                            <ul>
                                <li>
                                    <a href="{% url 'index' %}">Story-1 (Intro to WebPro)</a>
                                </li>
                                <li>
                                    <a href="{% url 'home' %}">Story-4 (Intro to Django Framework)</a>
                                </li>
                                <li>
                                    <a href="{% url 'agenda' %}">Story-5 (Django Framework (Models))</a>
                                </li>
                                <li>
                                    <a href="{% url 'howru' %}">Story-6 (TDD with Django)</a>
                                </li>
                                <li>
                                    <a href="{% url 'ubahtema' %}">Story-8 (Java Script & JQuery)</a>
                                </li>
                                <li>
                                    <a href="{% url 'index_lab9' %}">Story-9 (AJAX Dynamic Data Access)</a>
                                </li>
                                <li>
                                    <a href="{% url 'subscribe' %}">Story-10 (Web Service)</a>
                                </li>
                                <li>
                                    <a href="{% url 'indexlab11' %}">Story-11 (OAuth, Cookie and Session)</a>
                                </li>
                            </ul>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>