{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {
    background-color:whitesmoke;
    font-family: times;
    text-align: center; 
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.fix {
    position:fixed;
    bottom:25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 74%;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Asti's Website</title>
</head>

<body>
<div class="row">
    <div class="column">
        <img src="{% static 'img/RoshaniAyuPranasti.jpg' %}" alt="Failed to load a picture of asti" style="width: 100%">
    </div>
    <div class="column" style="padding-top: 20vw; padding-left: 5vw; padding-right: 5vw">
        <h1 style="font-family: times;">Hello there!</h1>
        <p>The owner of this website is just your friendly computer science student<br>
        and this is her first ever website that she coded alone.</p>
        <details>
            <summary style="color:firebrick">Click here to see more about her.</summary>
            <p style="color:firebrick">Name: Roshani Ayu Pranasti<br>
            Age: 19 years old<br>
            School: Universitas Indonesia<br>
            NPM: 1706026052<br>
            Hobby: Designing</p>
        </details>
        <div class="fix">
            <a href="https://www.instagram.com/astiroshani/" > <img src="{% static 'img/instagram.png' %}" alt="Instagram" style="width:35px;"> </a>
            <a href="https://twitter.com/astiroshani" > <img src="{% static 'img/twitter.png' %}" alt="Twitter" style="width:35px;"> </a>
            <a href="https://www.facebook.com/astiroshani" > <img src="{% static 'img/facebook.png' %}" alt="Facebook" style="width:35px;"> </a>
            <a href="https://www.linkedin.com/in/roshani-ayu-pranasti/" > <img src="{% static 'img/linkedin.png' %}" alt="Facebook" style="width:35px;"> </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column" style="padding-top: 13vw; padding-left: 5vw; padding-right: 5vw">
        <h1 style="font-family: times;">This is her friend!</h1>
        <p>They major in the same bachelor<br>
        and they go to the same classes almost everyday.</p>
        <details>
            <summary style="color:firebrick">Click here to see more about her.</summary>
            <p style="color:firebrick">Name: Yafonia Kristiani<br>
            Age: 19 years old<br>
            School: Universitas Indonesia<br>
            NPM: 1706039521<br>
            Hobby: Singing</p>
        </details>
    </div>
    <div class="column">
        <img src="{% static 'img/YafoniaKristiani.jpg' %}" alt="Failed to load a picture of yafon" style="width: 100%">
    </div>
</div>

<div class="row">
    <div class="column">
        <img src="{% static 'img/KhalisMurfid.jpg' %}" alt="Failed to load a picture of yafon" style="width: 100%">
    </div>
    <div class="column" style="padding-top: 13vw; padding-left: 5vw; padding-right: 5vw">
        <h1 style="font-family: times;">This is her another friend!</h1>
        <p>He always helps her when she needs help<br>
        and he is the kindest guy she has ever met at Fasilkom.</p>
        <details>
            <summary style="color:firebrick">Click here to see more about him.</summary>
            <p style="color:firebrick">Name: Khalis Murfid<br>
            Age: 19 years old<br>
            School: Universitas Indonesia<br>
            NPM: 1706040164<br>
            Hobby: Reading</p>
        </details>
    </div>
</div>

</body>

</html>