{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>hello</title>
    <link rel="icon" href="{% static 'img/smiley.png' %}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab8-light.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'js/lab8.js' %}"></script>
</head>

<body>
    <div class="pageLoad">
        <div class="loader"></div>
    </div>
    <div class="container h-100" id="page">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p id="id_title" class="text-center text" style="font-size: 50px;"><strong>About Me</strong></p>
                        <p class="text-center text" style="margin-top: -20px;">The owner of this website is just your friendly computer science student. She said Hi!</p>
                        <div id="accordion" class="accordion">
                            <h4 class="text2">Activities</h4>
                            <div>
                                <li class="isi">doing assignments</li>
                                <li class="isi">never-ending meetings</li>
                                <li class="isi" style="padding-bottom:10px;">complaining about life</li>
                            </div>
                            <h4 class="text2">Organizations/Volunteer Experiences</h4>
                            <div>
                                <li class="isi">PIC of Creative OH Fasilkom 2018</li>
                                <li class="isi">Media Bureau BEM Fasilkom UI 2018</li>
                                <li class="isi">Journal of Fresh Money Compfest 2019</li>
                            </div>
                            <h4 class="text2">Awards</h4>
                            <div>
                                <p class="isi">i don't have any awards yet, maybe someday, aamiin :)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <p id="night" class="text-center text" style="font-size: 50px; text-align: center"><strong>Night Mode?</strong></p>
                <label class="switch" for="nightmode">
                    <input type="checkbox" class="nightmode" id="nightmode" name="nightmode">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</body>

</html>